<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ningmeng.vueblog.mapper.CommentMapper">

    <select id="selectByArticleId" resultType="com.ningmeng.vueblog.entity.Comment">
        select * from b_comment where article_id = #{id}
    </select>

</mapper>