<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ningmeng.vueblog.mapper.CommentMapper">

    <resultMap id="base" type="com.ningmeng.vueblog.entity.Comment">
        <id column="id" property="id"/>
        <result column="content" property="content"/>
        <result column="create_time" property="createTime"/>

        <result column="original_comment_id" property="originalCommentId"/>
        <result column="article_id" property="articleId"/>
        <association property="user" javaType="com.ningmeng.vueblog.entity.User"
                     select="com.ningmeng.vueblog.mapper.UserMapper.selectById" column="user_id">
        </association>
    </resultMap>

    <select id="selectByCommentId" resultMap="base">
        select *
        from b_comment
        where id = #{id}
    </select>

    <select id="selectByOriginalCommentId" resultMap="base">
        select *
        from b_comment
        where original_comment_id = #{originalCommentId}
    </select>

    <select id="selectByArticleId" resultMap="base">
        select * from b_comment where article_id = #{id}
    </select>

    <select id="getNewComment" resultMap="base">
        select * from b_comment order by create_time desc limit 15
    </select>

    <select id="getComments" resultMap="base">
        select * from b_comment order by create_time desc
    </select>

    <select id="getParentCommentByArticleId" resultMap="base">
        select *
        from b_comment
        where original_comment_id is null
          and article_id = #{articleId}
    </select>

    <insert id="insertComment" keyProperty="id" parameterType="com.ningmeng.vueblog.entity.Comment"
            useGeneratedKeys="true"
    >
        insert into b_comment (content, create_time, article_id, original_comment_id, user_id)
            value (#{content}, #{createTime}, #{articleId}, #{originalCommentId}, #{user.id})
    </insert>

</mapper>