<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ningmeng.vueblog.mapper.TagMapper">

    <resultMap id="base_tag" type="com.ningmeng.vueblog.entity.Tag">
        <id column="id" property="id"/>
        <result column="tag_name" property="tagName"/>
    </resultMap>

    <resultMap id="tag" type="com.ningmeng.vueblog.entity.Tag" extends="base_tag">
        <collection property="articleSet" ofType="com.ningmeng.vueblog.entity.Article"
                    select="com.ningmeng.vueblog.mapper.ArticleMapper.selectByTagId" column="id">
        </collection>
    </resultMap>

    <select id="selectByArticleId" resultMap="tag">
        select b_tag.id id, b_tag.tag_name tag_name, bat.article_id article_id
        from b_tag
        inner join b_article_tag bat on b_tag.id = bat.tag_id
        where article_id = #{id}
    </select>
</mapper>